[submodule "pos_ticket_fel"]
	path = pos_ticket_fel
	url = git@github.com:jeffrepo/pos_ticket_fel.git
	branch = 14.0

[submodule "pos_network_printer"]
	path = pos_network_printer
	url = git@github.com:jeffrepo/pos_network_printer.git
	branch = master

[submodule "outgoing_mail_server_user_app"]
	path = outgoing_mail_server_user_app
	url = git@github.com:jeffrepo/outgoing_mail_server_user_app.git
	branch = master

[submodule "ob_pos_combo_product"]
	path = ob_pos_combo_product
	url = git@github.com:jeffrepo/ob_pos_combo_product.git
	branch = master

[submodule "infilefel"]
	path = infilefel
	url = git@github.com:jeffrepo/infilefel.git
	branch = 14.0

[submodule "inter_company_stock_transfer"]
	path = inter_company_stock_transfer
	url = git@github.com:jeffrepo/inter_company_stock_transfer.git
	branch = master
